* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* HERO BACKGROUND */
.full {
  min-height: 85vh;
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("/bg.jpeg") center/cover no-repeat;
  color: white;
}

/* NAVBAR */
.atas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #0400ff;
}

/* KANAN */
.kanan {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MENU */
.menu {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.menu:hover {
  text-decoration: underline;
}

/* HAMBURGER */
.hamburger {
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* PROFIL */
.profil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HERO */
.tengah {
  text-align: center;
  margin-top: 90px;
}

.tengah h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.tengah input {
  width: 520px;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
}

/* KATEGORI */
.kategori {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item-kategori {
  text-align: center;
}

/* BUTTON LINGKARAN */
.circle-btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease;
}

.circle-btn img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* HOVER */
.circle-btn:hover {
  background: #ffffff;
  transform: scale(1.05);
}

.circle-btn:hover img {
  transform: scale(1.2);
}

/* TEKS */
.item-kategori p {
  margin-top: 10px;
  font-size: 13px;
  color: white;
}

/* PRODUK SECTION */
.produk-section {
  padding: 50px;
  background: #f5f5f5;
}

.produk-section h2 {
  margin-bottom: 20px;
}

/* SCROLL HORIZONTAL */
.produk-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.produk-container::-webkit-scrollbar {
  display: none;
}

/* PRODUK ITEM */
.produk-container img {
  width: 180px;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.produk-container img:hover {
  transform: scale(1.05);
}

.produk-section {
  min-height: 85vh;
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("/pp2.jpg") center/cover no-repeat;
  color: white;
}
