* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("/pngtree-an-image-of-a-clothing-store-image_2519172.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-page {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.profil-box {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  .profil-box {
    width: 95%;
  }
}


.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.status {
  margin: 15px 0 25px;
  font-size: 14px;
  color: #ddd;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.login {
  background: #0400ff;
  color: white;
}

.login:hover {
  background: #0200aa;
}

.register {
  background: white;
  color: black;
}

.register:hover {
  background: #e0e0e0;
}

.back {
  display: inline-block;
  margin-top: 25px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .profil-box {
    padding: 25px;
  }
}
